html
    head
        link(rel='stylesheet', href='/css/main.css')
    body
        include ./header.pug
        div(style='width:35%;margin-left:27%;padding:1px 16px;height:1000px;')
            section
                .text
                    img(src='http://placehold.it/100/100')
                    p #{entit.text}
            form(action='/postComment/' + entit._id, method='POST')
                section#main
                    .text
                        img(src='http://placehold.it/100/100')
                        textarea#text(placeholder="What's in your mind", name='text')
                        br
                        button(type='submit') Post