html
    head
        link(rel='stylesheet', href='/css/main.css')
       
    body
        include ./header.pug
        div(style='width:35%;margin-left:37%;padding:1px 16px;height:1000px;')
            form(action='/sendMessage', method='POST')
                section#main
                    .text
                        input#searchbox(style='float:left;margin-bottom:10px;',placeholder="To:@email", name='search')
                        textarea#text(placeholder="Write your message...", name='text')
                        button(style='float:right',type='submit') Search

            each msg in msgs
                section(class="forumpost")
                    .text
                         img(src='http://placehold.it/100/100')
                         text(id="author") #{msg.from}
                         p #{msg.text}
                         p #{msg.time} ago        