ul
    li
        a.active(href='/forum') Forum
    li
        a(href='#news') Grades
    li
        a(href='#contact') Materials
    li
        a(href='#about') Chat
    li
        a(href='/logout') Logout