ul
    li
        a.active(href='/main') Forum
    li
        a(href='/listGrades') Grades
    li
        a(href='/materials') Materials
    li
        a(href='/chat') Chat
    li
        a(href='/logout') Logout