html
    head
        link(rel='stylesheet', href='/css/main.css')
    body
        include ./header.pug
        div(style='width:35%;margin-left:27%;padding:1px 16px;height:1000px;')

            form(action='/post', method='POST')
                section#main
                    .text
                        img(src='http://placehold.it/100/100')
                        textarea#text(placeholder="What's on your mind", name='text')
                        br
                        button(type='submit') Post
                        br 
                        br
                        br
            each entit in ent
                a(href='/details/'+ entit._id style="text-decoration:none")
                    section(class="forumpost")
                        .text
                            img(src='http://placehold.it/100/100')
                            text(id="author") #{entit.author}
                            p #{entit.text}


