html
    head
        link(rel='stylesheet', href='/css/main.css')
    body
        include ./header.pug
        div(style='margin-left:25%;padding:1px 16px;height:1000px;')
            form(action='/post', method='POST')
                section#main
                    .text
                        img(src='http://placehold.it/100/100')
                        textarea#text(placeholder="What's in your mind", name='text')
                        button(type='submit') Post
            each entit in ent
                a(href='/details/'+ entit._id)
                    section
                        .text
                            img(src='http://placehold.it/100/100')
                            p #{entit.text}



