html
    head
        link(rel='stylesheet', href='/css/main.css')
    body
        include ./header.pug
        div(style='width:35%;margin-left:27%;padding:1px 16px;height:1000px;')
            form(action='/upload', method='POST', encType="multipart/form-data")
                section#main
                    .text
                        img(src='http://placehold.it/100/100')
                        input#text(placeholder="What's in your mind", name='name', type='file')
                        br
                        button(type='submit') Post
            each mat in mats
                a(href='/download/' + mat.cstId, style="text-decoration:none")
                    section(class="forumpost")
                        .text
                            img(src='http://placehold.it/100/100')
                            text(id="author") #{mat.author}
                            p #{mat.name}

