html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Sign Up Form
        link(rel='stylesheet', href='/css/registerDesign.css')
        link(href='https://fonts.googleapis.com/css?family=Nunito:400,300', rel='stylesheet', type='text/css')
    body
        form(action='index.html', method='post')
            h1 Sign Up
            fieldset
                legend
                    span.number 1
                    | Your basic info
                label(for='name') Name:
                input#name(type='text', name='user_name')
                label(for='mail') Email:
                input#mail(type='email', name='user_email')
                label(for='password') Password:
                input#password(type='password', name='user_password')
                label Role:
                input#teacher(type='radio', value='teacher', name='role')
                label.light(for='teacher') Teacher
                br
                input#student(type='radio', value='student', name='role')
                label.light(for='student') Student
                br
                input#parent(type='radio', value='parent', name='role')
                label.light(for='parent') Subjects
                label(for='bio') Biography:
                textarea#bio(name='user_bio')
                label(for='job') Job Role:
                select#job(name='user_job')
                    optgroup(label='Web')
                        option(value='frontend_developer') Front-End Developer
                        option(value='php_developor') PHP Developer
                        option(value='python_developer') Python Developer
                        option(value='rails_developer')  Rails Developer
                        option(value='web_designer') Web Designer
                        option(value='WordPress_developer') WordPress Developer
                    optgroup(label='Mobile')
                        option(value='Android_developer') Androild Developer
                        option(value='iOS_developer') iOS Developer
                        option(value='mobile_designer') Mobile Designer
                    optgroup(label='Business')
                        option(value='business_owner') Business Owner
                        option(value='freelancer') Freelancer
                    optgroup(label='Other')
                        option(value='secretary') Secretary
                        option(value='maintenance') Maintenance
                label Interests:
                input#development(type='checkbox', value='interest_development', name='user_interest')
                label.light(for='development') Development
                br
                input#design(type='checkbox', value='interest_design', name='user_interest')
                label.light(for='design') Design
                br
                input#business(type='checkbox', value='interest_business', name='user_interest')
                label.light(for='business') Business
            button(type='submit') Sign Up
